.chart-module-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;

    .field-selector {
        position: relative;
        padding-top: 0.4em;
        padding-right: 0.4em;
        width: min-content;
        height: min-content;
        z-index: 10;
    }

    .chart-container {
        height: 90%;
        width: 100%;
    }
}