@import url("../../styles/main_theme.css");

.react-grid-layout {
    position: relative;
    transition: height 200ms ease;
}

.layout-dashboard {
  width: 100%;
  height: 100%;
  border: none;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid;
    border-width: 2px;
    border-color: var(--clr-primary-a50);
    text-align: center;
    block-size: fit-content;

    .grid-item-header {
      color: white;
      font-weight: bold;
      height: 1.5em;
      width: 100%;
      background-color: var(--clr-primary-a50);
    }

    .grid-item-content {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
    }
}